/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.display-none {
    display: none
}

.ui-autocomplete {
    max-height: 20%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.gray-row {
    background-color:gray;
    text-decoration-color: midnightblue;
}

/*for SecondaryTables/index*/
.grid1 {
    display: grid;
    height: 100%;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 15fr;
    column-gap: 5px;
    row-gap: 10px;
}
    .grid1 input {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        /*padding: 0px 0px;*/
        
    }

.manager-button {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*background-color: blue;*/
    text-align: center;
}

.ship-spec-button {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /*background-color: green;*/
    text-align: center;
}

.ship-dest-button {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /*background-color: yellow;*/
    text-align: center;
}

.item-manager {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /*background-color: black;*/
    height: 100%;
}
.grid-level2 {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 10fr;
    column-gap: 5px;
    padding: 3px;
    border: 1px solid black; 
}

    .grid-level2 table {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
       /* background-color: gray;*/
    }

    .grid-level2 div {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        /*background-color: gray;*/
        width: 100%;
        /*height: 100%*/
    }
    .grid-level2 input {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
.item-destination {
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
    height: 100%; 
    /*background-color: aqua;  */ 
}
.item-specialist {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 100%;
    /*background-color: yellowgreen;*/
}
    
.form-inline {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

div[disabled] {
    /*display: none;*/
}

.selected-td {
    background-color: green;
    color : coral;
}






