@model IEnumerable<OrderManagmentApp.WEB.Models.ManagerViewModel>
@{
    Layout = null;
 }


<table id="manager-table" class="table table-hover table-bordered ">   
    <tbody>
@foreach (var item in Model) {
        <tr> 
            @{ var className = item.IsDismissed ? "gray-row" : "";  }
            <td id="@item.Id" class="@className">
            @Html.DisplayFor(modelItem => item.Name)
            </td>                   
        </tr>
        }
    </tbody>
</table>
